

<div class="devise-container">
  <div class="devise-box">
  <h2>Sign up</h2>
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true) do |form| %>
      <div>
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div>
        <%= form.label :password %>
        <%= form.password_field :password, autocomplete: "new-password" %>
      </div>

      <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div>
        <%= form.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
